<section class="vh-1000">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
      <div class="container py-150 h-170">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-20 col-lg-10 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
          <div class="registration-container">
            <h4 style="text-align: center;">Enter Your Email</h4>
            <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="email" placeholder="Enter your email">
                <div *ngIf="otpForm.get('email')?.invalid && otpForm.get('email')?.touched" class="error-message">
                  Please enter a valid email address.
                </div>
              </div>
              <button type="submit" [disabled]="otpForm.invalid">Submit</button>
            </form>
          </div> 
        </div>
      </div>
    </section>
  
