<section class="vh-100">
  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
    <div class="container py-5 h-170">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-5 col-lg-5 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-16 col-lg-16 col-xl-6 offset-xl-1 border border-primary">
          <p style="text-align: center;">Login</p>
          <form class="login-form" [formGroup]="loginForm">
            
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input matInput type="email" formControlName="email" class="form-control form-control-lg" placeholder="Email address" />
              <label class="form-label" for="form1Example13">Email address</label>
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                This Input is required.
                </mat-error>
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input matInput formControlName="password" type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Password"/>
              <label class="form-label" for="form1Example23">Password</label>
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                This Input is required.
            </mat-error>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">

            <button type="submit" (click)="login()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign in</button>
            
            <a href="#!">Forgot password?</a>
            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>
  
            <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
              role="button">
              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
              role="button">
              <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
                <br>
            <p></p>
          </form>
        </div>
      </div>
    </div>
  </section>
